{% extends "base.html" %}
{% load static %}

{% block head %}
    <script src="{% static "js/hls.min.js" %}"></script>
{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <section id="hls" class="hls">
        <div class="container">
            <div class="row">
                <hr class="big">
                <div class="col-lg-10 col-lg-offset-2 text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <video id="video" width="720" height="405" controls > </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
      if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls({
            {% if live %}
                startPosition: -1,
            {% else %}
                startPosition: 0,
            {% endif %}
        });
        hls.attachMedia(video);
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            hls.loadSource("{{ hls_url }}");
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
              video.play();
            });
        });


        hls.on(Hls.Events.ERROR, function (event, data) {
            if (data.fatal) {
              switch(data.type) {
                  case Hls.ErrorTypes.NETWORK_ERROR:
                  // try to recover network error
                    console.log("fatal network error encountered, try to recover");
                    hls.startLoad();
                    break;
                  case Hls.ErrorTypes.MEDIA_ERROR:
                    console.log("fatal media error encountered, try to recover");
                    hls.recoverMediaError();
                    break;
                  default:
                  // cannot recover
                    hls.destroy();
                    break;
              }
            }
        });
      }
    </script>
{% endblock %}
