{% extends "base.html" %}

{% block head %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .gm-style-iw + div {display: none;}
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5LOxGZoOwWgCF88YUvO4GpOc1ia_oDcY&callback=initMap"
    async defer></script>
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="{% url "map:map-home" %}" onclick=$("#menu-close").click();>Cococar</a>
            </li>
            <li>
                <a href="{% url "map:map-home" %}" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="{% url "map:search_record" %}" onclick=$("#menu-close").click();>Search for Record</a>
            </li>
            <li>
                <a href="{% url "map:about" %}" onclick=$("#menu-close").click();>About</a>
            </li>
        </ul>
    </nav>

    <div id="map"></div>

    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        //Google Map
        var map;
        var markers = {};
        function initMap(){
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 24.968553, lng: 121.190186},
              zoom: 15
            });
        }

        $(document).ready(function(){
            setInterval(function(){
                if(map !== undefined){
                    getMarkers();
                }
            }, 3000);

        });

        function getMarkers(){
            $.getJSON("{% url "map:map-marker" %}",
                function(data){
                    //Create or edit markers with setting its position
                    var m_copy = Object.keys(markers);
                    var infowindow = new google.maps.InfoWindow();
                    for(var i=0; i<data.length; i++){
                        var marker_id = data[i]["marker_id"];
                        var user_id = data[i]["user_id"] || "";
                        var talk = data[i]["talk"] || "";
                        var p = new google.maps.LatLng(
                                parseFloat(data[i]["latitude"]),
                                parseFloat(data[i]["longitude"])
                            );
                        var mk;
                        if(marker_id in markers){
                            mk = markers[marker_id];
                            mk.setPosition(p);
                            var index = m_copy.indexOf(marker_id);
                            if (index > -1) {
                                m_copy.splice(index, 1);
                            }
                        }
                        else{
                            mk = new google.maps.Marker({
                                map: map,
                                position:p
                            });
                            markers[marker_id] = mk;
                        }
                        var info =  '<h4>' + user_id + '</h4>'+
                                    '<div">'+
                                        '<p>'+ talk +'</p>'+
                                    '</div>';


                        mk.addListener('mouseover', function() {
                            infowindow.setContent(info)
                            infowindow.open(map, mk);
                        });
                        mk.addListener('mouseout', function(){
                            infowindow.close();
                        });
                    }
                    //If a marker's id is not received after get method, then remove it
                    m_copy.forEach(function(marker_id){
                        m = markers[marker_id];
                        m.setMap(null);
                        delete markers[marker_id];
                    })
                }
            );
        }

    </script>

{% endblock %}
