{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link href="{% static "css/map.css" %}" rel="stylesheet">
    <link href="{%  static "css/jquery.datetimepicker.css" %}" rel="stylesheet" type="text/css">
    <script src="{%  static "js/jquery.datetimepicker.full.js" %}"></script>
    <style>

#search-message{
    z-index: 1;
    position: fixed;
    top: 30px;
    right: 100px;
    height:100px;
    width: 300px;
    margin: 0px auto;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
    </style>
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="{% url "map:map-home" %}">Cococar</a>
            </li>
            <li>
                <a href="{% url "map:map-home" %}">Home</a>
            </li>
            <li>
               <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                   Search for Record
               </a>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        {% crispy search_form %}
                    </div>
                </div>

            </li>
            <li>
                <a href="{% url "map:about" %}" onclick=$("#menu-close").click();>About</a>
            </li>
        </ul>
    </nav>
    <div id="search-message container"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Location">
    <div id="map"></div>

    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        //Google Map
        var map;
        var markers = {};
        var markers_window = {};
        // id, infowindow, interval_id
        var chatroom_open = [];
        function initMap(){
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 24.968553, lng: 121.190186},
              zoom: 15
            });
            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var search_markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                search_markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                search_markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    search_markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                        } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }


        $(document).ready(function(){
            var update_id = setInterval(function(){
                                if(map !== undefined){
                                    getMarkers();
                                }
                            }, 3000);
            $('#record_form').ajaxForm({
                type: "POST",
                dataType: "json",
                success: function(data){
                    $(this).clearForm();
                    if(data["status"] === 1){
                        alert(data["message"]);
                    }
                    else if (data["status"] === 2){
                        alert(data["message"]);
                    }
                    else if (data["status"] === 0){
                        alert(data["message"]);
                        $("#sidebar-wrapper").toggleClass("active");
                        show_records(data);
                    }
                },
                error:function(){
                    alert("Fail");
                }
            });

            function show_records(data){
                console.log("SHITTTT");
                //clear objects on map
                clearInterval(update_id);
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 24.968553, lng: 121.190186},
                  zoom: 8
                });
                //pin markers on map
                for( i=0 ; i < data["matches"].length; i++){
                    (function(){
                        var match = data["matches"][i];
                        var latlng = new google.maps.LatLng(match["latitude"], match["longitude"]);
                        var mk = new google.maps.Marker({
                            map: map,
                            position: latlng,
                            icon: {
                                    url: "{% static "img/point.png" %}",
                                    scaledSize: new google.maps.Size(30, 30)
                                }
                        });
                        if(i===data["matches"].length-1){
                           map.setCenter(latlng);
                           map.setZoom(10)
                        }
                        var infowindow = new google.maps.InfoWindow({
                                            content:match["marker_id"]
                                        });
                        mk.addListener('mouseover', function() {
                            infowindow.open(map, mk);
                        });
                        mk.addListener('mouseout', function(){
                            infowindow.close();
                        });
                    })();
                }

                for( i=0 ; i < data["records"].length; i++){
                    (function(){
                        var record = data["records"][i];
                        var mk = new google.maps.Marker({

                                map: map,
                                position:new google.maps.LatLng(record["latitude"], record["longitude"]),
                                icon: {
                                    url: "{% static "img/video.png" %}",
                                    scaledSize: new google.maps.Size(30, 30)
                                }
                            });
                        var info = "<h3>"+record["marker_id"]+'<h3><span class="glyphicon glyphicon-time"></span>'+record["time"];
                        var infowindow = new google.maps.InfoWindow({
                                            content:info
                                        });
                        mk.addListener('mouseover', function() {
                            infowindow.open(map, mk);
                        });
                        mk.addListener('mouseout', function(){
                            infowindow.close();
                        });
                        mk.addListener('click', function(){
                            watch_video(record["marker_id"]);
                        })
                    })();
                }
                //if turn off button is click, then go to home
                $("#search-message").append("<button type='button' href="+'{% url "map:map-home" %}'+"class='btn btn-primary'>Done</button>")
            }
        });



        function getMarkers(){
            $.getJSON("{% url "map:map-marker" %}",
                function(data){
                    //Create or edit markers with setting its position
                    // marker has two class, prefixed with "user" and "marker"
                    //"user": has live streaming url
                    //"marker": info window has chat room feature
                    //Update each marker's info window, while clicking on the marker
                    var m_copy = Object.keys(markers);
                    for(var e=0; e<data.length; e++){
                        (function(i){
                            var marker_id = data[i]["marker_id"];
                            var user_id = data[i]["user_id"] || "";
                            var talk = data[i]["talk"] || "";
                            // First Update Position
                            var p = new google.maps.LatLng(
                                    parseFloat(data[i]["latitude"]),
                                    parseFloat(data[i]["longitude"])
                                );
                            var mk;
                            if(marker_id in markers){
                                mk = markers[marker_id];
                                mk.setPosition(p);
                                var index = m_copy.indexOf(marker_id);
                                if (index > -1) {
                                    m_copy.splice(index, 1);
                                }
                            }
                            else{
                                mk = new google.maps.Marker({
                                    map: map,
                                    position:p
                                });
                                markers[marker_id] = mk;
                                if(marker_id.substring(0, 4) === "user"){
                                    mk.addListener('click', function(){
                                        watch_video(marker_id);
                                    })
                                }
                                else{
                                    mk.addListener('click', function(){
                                        if(chatroom_open[0] !== undefined && chatroom_open[0] !== marker_id){
                                            chatroom_open[1].close();
                                            clearInterval(chatroom_open[2]);
                                            chatroom_open = []
                                        }
                                        // In case, click on the same marker twice
                                        else if(chatroom_open[0] === marker_id){
                                            return false;
                                        }
                                        setTimeout(fire_chatroom(marker_id, mk), 1000);
                                    })
                                }
                            }
                            // Update marker's info window. Listen on hovering mouse over the marker.
                            if(talk !== ""){
                                var info =  '<h4>' + user_id + '</h4>'+
                                            '<div">'+
                                                '<p>'+ talk +'</p>'+
                                            '</div>';
                                var infowindow;
                                if(!(marker_id in markers_window)){
                                    infowindow = new google.maps.InfoWindow({
                                        content:info
                                    });
                                    markers_window[marker_id] = infowindow;
                                    mk.addListener('mouseover', function() {
                                        infowindow.open(map, mk);
                                    });
                                    mk.addListener('mouseout', function(){
                                        infowindow.close();
                                    });
                                }
                                else if(markers_window[marker_id].getContent() !== info){
                                    infowindow = markers_window[marker_id];
                                    infowindow.setContent(info);
                                }

                                if(infowindow !== undefined && chatroom_open[0] !== marker_id){
                                    var bound = map.getBounds();
                                    if(bound.contains(p)){
                                        infowindow.open(map, mk);
                                        setTimeout(function(){
                                            infowindow.close()
                                        }, 3000);
                                    }

                                }
                            }
                        })(e);
                    }
                    //If a marker's id is not received after get method, then remove it
                    m_copy.forEach(function(marker_id){
                        m = markers[marker_id];
                        m.setMap(null);
                        delete markers[marker_id];
                        delete markers_window[marker_id];
                    })
                }
            );
        }

        function fire_chatroom(marker_id, mk){
            var infowindow = new google.maps.InfoWindow();
            $.post("{% url "map:chatroom" %}",
                JSON.stringify({"marker_id": marker_id}),
                function(data){
                    infowindow.setContent(data["html"]);
                    infowindow.open(map, mk);
                    scrolltobottom(marker_id);
                    var key_in = false;
                    // post input message when the button is clicked
                    $("div#chat-" + marker_id + " button#btn-chat").click(function(){
                        var value = $("div#chat-" + marker_id +" input:text").val();
                        $.post("{% url "map:map-marker" %}",
                            JSON.stringify({"marker_id": marker_id, "talk": value}),
                            function(){
                                $("div#chat-" + marker_id +" input").val("");
                                key_in = true;
                            }
                        )
                    });
                    $("div#chat-"+marker_id+" input").keypress(function(e){
                        if(e.which === 13){
                            $("div#chat-" + marker_id + " button#btn-chat").click();
                        }
                    });
                    var last_time = data["last_time"];
                    var task = setInterval(function(){
                        $.post("{% url "map:update-chat" %}",
                            JSON.stringify({"marker_id": marker_id, "last_time": last_time}),
                            function(data){
                                if("html" in data){
                                    $("div#chat-" + marker_id +"  ul.chat").append(data["html"]);
                                    last_time = data["last_time"];
                                    if(key_in){
                                        scrolltobottom(marker_id);
                                        key_in = false;
                                    }
                                }
                        })
                    }, 500);
                    chatroom_open = [marker_id, infowindow, task];
                    infowindow.addListener('closeclick', function(){
                        clearInterval(task);
                    })
                }
            )
        }

        function watch_video(marker_id){
            var form = document.createElement('form');
            form.method = 'post';
            form.action = "{% url "map:video" %}";
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = "marker_id";
            input.value = marker_id;
            form.appendChild(input);
            form.submit();
        }

        function scrolltobottom(marker_id){
            var v = $("div#chat-"+marker_id+" ul").height();
            $("div#chat-"+marker_id+" div.panel-body").scrollTop(v);
        }

        jQuery(function(){
            jQuery('#id_start_time').datetimepicker({
                format:'Y/m/d H:i',
                onShow:function( ct ){
                    this.setOptions({
                        maxDate:jQuery('#id_end_time').val()?jQuery('#id_end_time').val():false
                    })
                },
                defaultDate: new Date()
            });
            jQuery('#id_end_time').datetimepicker({
                format:'Y/m/d H:i',
                onShow:function( ct ){
                    this.setOptions({
                        minDate:jQuery('#id_start_time').val()?jQuery('#id_start_time').val():false
                    })
                },
                defaultDate: new Date()
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5LOxGZoOwWgCF88YUvO4GpOc1ia_oDcY&libraries=places&language=zh-TW&callback=initMap"
    async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>

{% endblock %}
